%form
  %textarea#editor

:coffee
  CKEDITOR.replace 'editor',
    allowedContent: true, # filtering is handled by Active Support in the backend
    contentsCss: null,
    toolbarGroups: [
        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
        { name: 'paragraph',   groups: [ 'list', 'indent', 'align' ] },
        { name: 'styles' },
        { name: 'links' },
        { name: 'colors' },
        { name: 'insert' },
        { name: 'document', groups: [ 'mode' ] }
    ],
    removeButtons:    'Cut,Copy,Paste,Undo,Redo,Anchor,Subscript,Superscript,Styles,Font,BGColor,Flash,Smiley,PageBreak,Iframe,Save,NewPage,Preview,Print',
    removeDialogTabs: 'link:advanced'
    filebrowserBrowseUrl: '#{drive.select_folders_path(mode: :files)}'
