.breadcrumbs {
  margin:         1em 0;
  color:          #b7b7b7;
  font-size:      11px;
  text-transform: uppercase;
  
  a:link, a:visited {
    color: #b7b7b7;
  }
  a:hover, a:active, .last {
    color: #888;
  }
}

a{
  color: #C97F14;
}

table {
  width: 100%;

  th, td {
    overflow: hidden;
    
    &.select {
      width: 15px;
      padding-right: 1em;
    }
    &.image {
      width: $listing-image-width;
    }
    &.title {
      // fills remaining width
      text-align: left;
    }
  }
  
  
  &.headings {
    th {
      padding-bottom: 2em;
      
      &.image { 
        padding-right: 13px;
      }
    }
  
    font-size: 0.8em;
    color: #a5a5a5;
    
    border-bottom: 1px solid #c5c5c5;
  
    button {
      text-transform: uppercase;
      
      .asc, .desc {
        display: none;
        margin: 0 0.35em 0 0.35em;
        vertical-align: 0.25em;
        font-size: 0.6em;
      }
    }
  }
  
  &.content {
    tr {
      border-bottom: 1px solid #e9e9e9;
    
      td {
        padding: 0.5em 0 0.5em 0;
        
        &.image {
          .thumb {
            display: block;
            width:  $listing-image-width;
            height: $listing-image-width;
            background-repeat:   no-repeat;
            background-position: 50% 50%;
          }
            
          .drive-file-icon, .drive-folder-icon {
            margin-right: 13px;
          }
        }
      }
    
      .drive-file-icon, .drive-folder-icon {
        width:   $listing-image-width;
        height:  $listing-image-width;
        @include background-size;
      }
    }
    
    .up {
      .title {
        line-height: $listing-image-height;
        vertical-align: middle;
      }
      img {
        float:   left;
        width:   $listing-image-width;
        height:  $listing-image-height;
        margin-right: 13px;
        border: none;
      }
    }
    
  }
  
}