- content_for :page_title, "Edit #{file.filename}"

= full_form_for file, url: file.path do |f|

  = f.fields do
    = f.row do
      = f.text_field :title
      = f.text_field :alt, label: 'Short Description'
    
    = f.row do
      = f.text_area :body, full: true, label: 'Full Description'
  
  = f.controls folder.path
