!!! 5
%html.backend.drive.select
  
  %head
    %meta(charset="utf-8")
    %title
      Please Select A File \|
      = content_for(:page_title)
    = stylesheet_link_tag 'drive/bundle', media: "all"
    = javascript_include_tag 'drive/bundle'
    = csrf_meta_tags
    
  %body.backend.drive.select
    
    #main
      #wrapper
        = yield
          
    :coffee
      $ ->
        window.selector = new chocolate.drive.views.Selector
          el: '#listing'
          CKEditor: '#{@params[:CKEditor]}'
          CKEditorFuncNum: '#{@params[:CKEditorFuncNum]}'
