//= require progress-polyfill
//= require drive/jcrop/jquery.Jcrop
//= require drive/file-icons
//= require chocolate/style/bundle

@import "compass/css3";
@import 'chocolate/style/partials/variables';
@import "chocolate/style/partials/mixins";

html.backend {
  body.drive {
    @import 'drive/folders';
    @import 'drive/dialogs';
    // @import 'drive/grid';
  }
}

html.backend {
  body.drive.select {
    @import 'partials/select';
  }
}
