#invalid.dialog {
  .notice {
    margin-bottom: 1em;
  }
}

.ui-dialog {
  .select.dialog {
    @import 'partials/select';
    
    #listing {
      height: auto;
    }
    
    .handle, #controls {
      display: none;
    }
  }
}
