
.drive-file-icon {
  display: block;
  background-image: image-url("drive/file-icons/default.png");
}


<% Dir.glob(Drive::Engine.root.join(*%w(app assets images drive file-icons *.png))).each do |png| %>

.drive-file-icons-<%= File.basename(png, '.png') %> {
	background-image: image-url("drive/file-icons/<%= File.basename(png) %>");
}

<% end %>
