#listing {
  table.folder {
    width: 100%;
    
    tr {
      .title {
        // fills remaining width
        text-align: left;
   
        .thumb {
          display: block;
          float:   left;
          margin-right: 13px;
          border: 1px solid #c8c8c8;
          width:  $listing-image-width;
          height: $listing-image-width;
          background-repeat:   no-repeat;
          background-position: 50% 50%;
          
          &.progress {
            background-image: image-url('drive/fontello/spin3.gif');
            background-size: 80%;
          }
          
          &.fail {
            background-image: image-url('drive/fontello/emo-unhappy.svg'); 
            background-size: 80%;
          }
        }
        .drive-file-icon, .drive-folder-icon {
          display: block;
          float:   left;
          margin-right: 13px;
        }
   
        .controls {
          font-size: 0.8em;
            
          .delete {
            @include darken-on-hover(#b73b3b, 20%);
          }
          
          progress {
            width: 100px;
            height: 8px;
          }
        }
        
        .progress {
          color: #000;
          font-weight: bold;
        }
        
        .fail {
          color: #ab0000;
        }
      }
      .created-at, .type, .size {
        width: 13%;
        text-align: right;
      }
      
      .type {
        .drive-file-icon {
          float: right;
          margin-right: -4px;
        }
        .drive-folder-icon {
          float: right;
        }
      }
      
      td:nth-child(2).up {
        .title {
          line-height: $listing-image-height;
          vertical-align: middle;
        }
        img {
          border: none;
        }
      }
      
      .drive-file-icon, .drive-folder-icon {
        width:  $listing-image-width;
        height: $listing-image-width;
        @include background-size;
      }
    }
  }
}

#controls {
  // position enlarged browse button of file dialog to cover upload button
  .pick-files {
    position: relative;
    overflow: hidden;
    height:   39px;
    width:    91px;
    padding:  0;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
    
    form {
      overflow: visible;
      position: absolute;
      top: 0;
      width:  100%;
      height: 100%;
      
      #file_upload {
        position:  absolute;
        top:       0;
        left:      -11em;
        bottom:    0;
        right:     0;
        cursor:    pointer;
        direction: ltr;
        font-size: 23px;
        margin: 0;
        padding: 0;
        height: 100%;
        @include opacity(0);
      }
    }
  }
}

.drive-folder-icon {
  display: block;
  background-image: image-url("drive/folder.png");
}
