#folder-grid {
  .cell {
    display:  inline-block;
    width:    18.4%;
    vertical-align: top;
    margin-right:   2%;
    padding-bottom: 1em;
    
    .image {
      position: relative;
      overflow: hidden;
      width:    100%;
      
      .overlay {
        position: absolute;
        z-index:  10;
        width:    100%;
        height:   100%;
        color:    white;
        @include opacity(0);
        @include transition(opacity 0.2s ease-out);
        
        &.over {
          @include opacity(1);
        }
          
        .background {
          width:    100%;
          height:   100%;
          background-color: black;
          @include opacity(0.7);
        }
        
        .buttons {
          position: absolute;
          bottom:   3px;
          right:    6px;
          
          a {
            color: white;
            &:hover {
              @include darken-on-hover(white, 20%);
            }
          }
        }
      }
      
      img {
        position: absolute;
      }
    }
    
    .title {
      padding-top: 1em;
      text-align: center;
      input {
        margin-right: 0.5em;
      }
    }
  }
  .cell:nth-child(5n) {
    margin-right: 0;
  }
  
  .controls {
    font-size:  0.8em;
    padding-top: 1em;
      
    // position enlarged browse button of file dialog to cover upload button
    .pick-files {
      float:    left;
      position: relative;
      padding-right: 0.3em;
      overflow: hidden;
      @extend   .button-link;
      
      #file_upload {
        position:  absolute;
        top:       0;
        left:      -11em;
        bottom:    0;
        right:     0;
        cursor:    pointer;
        direction: ltr;
        font-size: 23px;
        @include opacity(0);
      }
    }
  }
}