#controls

  - if can? :create, Drive::File
    .pick-files.left.control.new{title: 'Upload one or more files'}
      Upload
      = form_for Drive::File.new(folder_id: folder.id) do |f|
        = f.hidden_field :folder_id
        = f.file_field :upload, multiple: true

  - if can? :create, Drive::Folder
    = link_to 'New Folder', new_folder_path(parent_id: folder.id), class: 'left new', title: 'Create a new folder'

  - if can?(:update, Drive::Folder) || can?(:update, Drive::File)
    %button.right.move{title: 'Select one or more files or folders to move'} Move

  - if can?(:destroy, Drive::Folder) || can?(:destroy, Drive::File)
    %button.right.delete{title: 'Select one or more files or folders to delete'} Delete
