- if can?(:read, file)
  %tr.file
    
    %td.select
      - if can?(:update, Drive::File) or can?(:destroy, Drive::File)
        = pseudo_check_box_tag :select, file.id, false, class: 'file'
        
    %td.title
      = file.thumbnail_tag
      = file.link_to_download
      
      .controls
        - if can? :update, file
          = link_to 'Edit', file.edit_path, class: 'edit', title: "Edit #{file.filename}"
          - if can? :destroy, file
            \|
            = file.link_to_delete
          
          
    %td.created-at= file.created_at
      
    %td.type= file.type_image_tag
      
    %td.size= file.upload_file_size
