- if can?(:read, folder)
  %tr.folder
    %td.select
      - unless folder.fixed? || cannot?(:update, Drive::Folder) || cannot?(:destroy, Drive::Folder)
        = pseudo_check_box_tag :select, folder.id, false, class: 'folder'
        
    %td.title
      = folder.link_to
      = link_to folder.path, title: folder.alt do
        = folder.thumbnail_tag
      .controls
        - unless folder.fixed?
          - if can? :update, folder
            = link_to 'Edit', folder.edit_path, class: 'edit', title: "Edit #{folder.name}"
            - if can?(:destroy, folder) && folder.empty?
              \|
              = folder.link_to_delete
            
            
    %td.created-at
      - if folder.created_at
        = folder.created_at
      - else
        &nbsp;
        
        
    %td.type
      %span.drive-folder-icon
      
      
    %td.size
      &nbsp;