= full_form_for folder do |f|

  = f.hidden_field :parent_id, value: folder.parent_id
  
  = f.fields do
    = f.row do
      = f.text_field :name
      = f.fields_for :thumbnail, folder.thumbnail || folder.build_thumbnail do |tf|
        = tf.image_field :upload, label: 'Thumbnail', thumb: folder.thumbnail_path(:tiny), large: folder.thumbnail_path
      
    = f.row do
      = f.text_area :body, full: true, label: 'Description'
      
  = f.controls folders_path