%table.folder.headings
  %tr
    - if can?(:update, Drive::File) || can?(:destroy, Drive::File) || can?(:update, Drive::Folder) || can?(:destroy, Drive::Folder)
      %th.select
        = pseudo_check_box_tag :select, 'all'
    %th.title
      = folder.link_to_sort :title, sort_column, sort_order
    %th.created-at
      = folder.link_to_sort :created_at, sort_column, sort_order, title: 'Created'
    %th.type
      = folder.link_to_sort :upload_content_type, sort_column, sort_order, title: 'Type'
    %th.size
      = folder.link_to_sort :upload_file_size, sort_column, sort_order, title: 'Size'