%header
  -# TODO switch to has_breadcrumbs
  %ul.breadcrumb
    - folder.ancestors.each do |node|
      %li
        = link_to node.name, node.path, title: "Go to #{node.name}"
        \/
    %li
      %strong= folder.name
      
    -# dummy for clearing float
    -# TODO use inline-block instead?
    %li
  
  .title
    %h1= folder.name
  
    .search
      %button.clear.hidden Clear
      = text_field_tag :search
    
    .cl