- unless folder.root?
  %tr
    - if can?(:update, Drive::File) or can?(:destroy, Drive::File)
      %td.select
    %td.up(colspan=4)
      = link_to folder.parent.path, title: 'Go up a level' do
        = image_tag 'drive/up-folder.svg'
      = link_to 'Up one level', folder.parent.path, title: 'Go up a level', class: 'title'
