- content_for :page_title, folder.name

%header#header
  .breadcrumbs
    - folder.ancestors.each do |f|
      = f.link_to_select @params
      = '//'
    %span.last= folder.name
  
-# TODO search bar

#listing{data: {id: folder.id}}

  %table.select.headings
    %tr
      - unless @select_mode == :destination
        %th.select
          - if @select_multi
            = pseudo_check_box_tag :select, 'all'
      %th.image
      %th.title
        Title
      
  = sly_tag do
    %table.select.content
      - unless folder.root?
        %tr
          - unless @select_mode == :destination
            %td.select
          %td.up(colspan=2)
            = link_to folder.parent.select_path(@params), title: 'Go up a level' do
              = image_tag 'drive/up-folder.svg'
            = link_to 'Up one level', folder.parent.select_path(@params), title: 'Go up a level', class: 'title'
      
      - folders.each do |folder|
        %tr.folder
          - unless @select_mode == :destination
            %td.select
              - if [:folders, :both].include? @select_mode
                = pseudo_check_box_tag :select, folder.id, false, class: 'folder'
          %td.image
            = folder.thumbnail_tag
          %td.title
            = folder.link_to_select @params
            
      - if [:files, :both].include? @select_mode
        - files.each do |file|
          %tr.file{data: {url: file.download_path}}
            %td.select
              = pseudo_check_box_tag :select, file.id, false, class: 'file'
            %td.image
              = file.thumbnail_tag
            %td.title
              = file.link_to_download
          
  #controls
    %button.left.select.save Select
    %button.right.cancel Cancel