- content_for :page_title, folder.name

-# TODO search bar in header

#listing{data: {id: folder.id, listingclass: 'chocolate.drive.views.FolderListing'}}
  -# TODO grid mode toggle
    
  = render partial: 'headings', locals: {sort_order: @sort_order, sort_column: @sort_column}
  
  = sly_tag do
    %table.folder.content
      = render partial: 'up', locals: {folder: folder}
      = render partial: 'folder', collection: folders
      = render partial: 'file',   collection: files
    
  = render partial: 'controls', locals: {folder: folder}
